# ==========================
# Python
# ==========================
venv/
.venv/
__pycache__/
*.py[cod]

# ==========================
# Environment
# ==========================
.env

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Archives
# ==========================
*.zip
*.rar
*.7z

# ==========================
# Generated ML Datasets
# ==========================
ml/investor/data/interim/
ml/investor/data/processed/

ml/stock/data/interim/
ml/stock/data/processed/

# ==========================
# Generated Reports
# ==========================
ml/investor/reports/
ml/stock/reports/

# ==========================
# Explainability Outputs
# ==========================
ml/explainability/figures/
ml/explainability/reports/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db