# ==========================
# Python
# ==========================
venv/
.venv/
__pycache__/
*.py[cod]
*.pkl
*.model

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Environment
# ==========================
.env

# ==========================
# Generated ML datasets
# ==========================
ml/investor/data/interim/
ml/investor/data/processed/

ml/stock/data/interim/
ml/stock/data/processed/

# ==========================
# Trained Models
# ==========================
ml/investor/models/
ml/stock/models/

# ==========================
# Generated Figures
# ==========================
ml/investor/reports/figures/
ml/stock/reports/figures/

# Generated CSV reports
ml/stock/reports/*.csv